{% extends "mupan.html" %}
{% block js %}
<script>
    function add(node,id,app_name) {
        var select = $("#" + node);
        var option = document.createElement("option");
        option.innerHTML = app_name;
        option.id = id;
        select.append(option);
    }

    function getinfo(node,message,second) {
        $.ajax({
           type:"POST",
            url:"/cics_op",
            data:message,
            dataType:"JSON",
            success:function (data) {
                var values = data[second];
                for (var i = 0;i < values.length;i++){
                    add(node,values[i],values[i]);
                }
            }
        });
    }
    
    function resetcicsname() {
        $("#cics_name").empty();
        $("#svn_path1").empty();
        $("#svn_path2").empty();
        $("#svn_path3").empty();
        $("#svn_path4").empty();
    }

    function getcicsname() {
        var branch = $("#select").val();
        var cics_name = $("#cics_name").val();
        if(branch === "none"){
            alert("未选中代码分支!");
            return false;
        }else if(cics_name === null){
            var curr_node = "cics_name";
            var msg = {"select":"cics_name","branch":branch};
            getinfo(curr_node,msg,curr_node);
        }else{
            return false;
        }
    }

    function getsvnpath1() {
        var branch = $("#select").val();
        var svn_path1 = $("#svn_path1").val();
        if (branch === "none"){
            alert("未选中代码分支!");
            return false;
        }else if(svn_path1 === null){
            var curr_node = "svn_path1";
            var msg = {"select":"svn_path1","branch":branch};
            getinfo(curr_node,msg,curr_node);
        }else{
            $("#svn_path2").empty();
            $("#svn_path3").empty();
            $("#svn_path4").empty();
        }
    }

    function getsvnpath2() {
        var branch = $("#select").val();
        var svn_path1 = $("#svn_path1").val();
        var svn_path2 = $("#svn_path2").val();
        if (branch === "none"){
            alert("未选中代码分支!");
            return false;
        }else if(svn_path1 === null){
            alert("未选中父目录!");
            return false;
        }else if(svn_path2 === null){
            var curr_node = "svn_path2";
            var msg = {"select":"svn_path2","branch":branch,"svn_path1":svn_path1};
            getinfo(curr_node,msg,curr_node);
        }else{
            $("#svn_path3").empty();
            $("#svn_path4").empty();
        }
    }

    function getsvnpath3() {
        var branch = $("#select").val();
        var svn_path1 = $("#svn_path1").val();
        var svn_path2 = $("#svn_path2").val();
        var svn_path3 = $("#svn_path3").val();
        if (branch === "none"){
            alert("未选中代码分支!");
            return false;
        }else if(svn_path2 === null){
            alert("未选中父目录!");
            return false;
        }else if(svn_path3 === null){
            var curr_node = "svn_path3";
            var msg = {"select":"svn_path3","branch":branch,"svn_path1":svn_path1,"svn_path2":svn_path2};
            getinfo(curr_node,msg,curr_node);
        }else{
            $("#svn_path4").empty();
        }
    }

    function getsvnpath4() {
        var branch = $("#select").val();
        var svn_path1 = $("#svn_path1").val();
        var svn_path2 = $("#svn_path2").val();
        var svn_path3 = $("#svn_path3").val();
        var svn_path4 = $("#svn_path4").val();
        if (branch === "none"){
            alert("未选中代码分支!");
            return false;
        }else if(svn_path3 === null){
            alert("未选中父目录!");
            return false;
        }else if(svn_path4 === null){
            var curr_node = "svn_path4";
            var msg = {"select":"svn_path4","branch":branch,"svn_path1":svn_path1,"svn_path2":svn_path2,"svn_path3":svn_path3};
            getinfo(curr_node,msg,curr_node);
        }else{
            return false;
        }
    }
    
    function Update() {
        var branch = $("#select").val();
        var user = $("#user").val();
        var svn_path1 = $("#svn_path1").val();
        var svn_path2 = $("#svn_path2").val();
        var svn_path3 = $("#svn_path3").val();
        var svn_path4 = $("#svn_path4").val();
        var path = "";
        if(branch === "none" || svn_path1 === null){
            alert("未选择代码分支或代码路径，请检查！");
            return false;
        }else {
            if(svn_path2 === null){
                path = svn_path1;
            }else if(svn_path3 === null){
                path = svn_path1 + "/" + svn_path2;
            }else if(svn_path4 === null){
                path = svn_path1 + "/" + svn_path2 + "/" + svn_path3;
            }else {
                path = svn_path1 + "/" + svn_path2 + "/" + svn_path3 + "/" + svn_path4;
            }
            $.ajax({
                type:"POST",
                url:"/update",
                data:{"branch":branch,"path":path,"user":user},
                dataType:"JSON",
                beforeSend:function () {
                    $("$msg").text("");
                    var target = $("#msg").get(0);
                    spinner.spin(target);
                },
                success:function (data) {
                    return false;
                },
                error:function (e,jqxhr,settings,exception) {
                    $("#msg").text("请求发生错误，请刷新页面...");
                    spinner.spin();
                }
            });
        }
    }

    function Status() {
        var branch = $("#select").val();
        var ENV = $("#ENV").val();
        var cics_name = $("#cics_name").val();
        var user = $("#user").val();
        if(branch === "none" || ENV === "none" || cics_name === null){
            alert("请检查分支，CICS条带和发布环境的选择！");
            return false;
        }else {
            $.ajax({
                type:"POST",
                url:"/cicsstatus",
                data:{"ENV":ENV,"user":user,"cics_name":cics_name},
                dataType:"JSON",
                beforeSend:function () {
                    $("$msg").text("");
                    var target = $("#msg").get(0);
                    spinner.spin(target);
                },
                success:function (data) {
                    return false;
                },
                error:function (e,jqxhr,settings,exception) {
                    $("#msg").text("请求发生错误，请刷新页面...");
                    spinner.spin();
                }
            });
        }
    }

    function Start() {
        var ENV = $("#ENV").val();
        var user = $("#user").val();
        if(ENV === "none"){
            alert("请选择环境，请检查！");
            return false;
        }else {
            $.ajax({
                type:"POST",
                url:"/cicsopr",
                data:{"ENV":ENV,"user":user,"opr":"start"},
                dataType:"JSON",
                beforeSend:function () {
                    $("$msg").text("");
                    var target = $("#msg").get(0);
                    spinner.spin(target);
                },
                success:function (data) {
                    return false;
                },
                error:function (e,jqxhr,settings,exception) {
                    $("#msg").text("请求发生错误，请刷新页面...");
                    spinner.spin();
                }
            });
        }
    }

    function Stop() {
        var ENV = $("#ENV").val();
        var user = $("#user").val();
        if(ENV === "none" || bkapp_name === null){
            alert("请选择环境，请检查！");
            return false;
        }else {
            $.ajax({
                type:"POST",
                url:"/cicsopr",
                data:{"ENV":ENV,"user":user,"opr":"stop"},
                dataType:"JSON",
                beforeSend:function () {
                    $("$msg").text("");
                    var target = $("#msg").get(0);
                    spinner.spin(target);
                },
                success:function (data) {
                    return false;
                },
                error:function (e,jqxhr,settings,exception) {
                    $("#msg").text("请求发生错误，请刷新页面...");
                    spinner.spin();
                }
            });
        }
    }

    function Compiler() {
        var branch = $("#select").val();
        var cics_name = $("#cics_name").val();
        var user = $("#user").val();
        if(branch === "none" || cics_name === null){
            alert("未选择环境或编译的条带，请检查！");
            return false;
        }else {
            $.ajax({
                type:"POST",
                url:"/cicscompiler",
                data:{"branch":branch,"user":user,"cics_name":cics_name},
                dataType:"JSON",
                beforeSend:function () {
                    $("$msg").text("");
                    var target = $("#msg").get(0);
                    spinner.spin(target);
                },
                success:function (data) {
                    return false;
                },
                error:function (e,jqxhr,settings,exception) {
                    $("#msg").text("请求发生错误，请刷新页面...");
                    spinner.spin();
                }
            });
        }
    }

    function Deploy() {
        var branch = $("#select").val();
        var cics_name = $("#cics_name").val();
        var ENV = $("#ENV").val();
        var user = $("#user").val();
        if(branch === "none" || cics_name === null || ENV === "none"){
            alert("请检查分支，条带名称和发布环境的选择！");
            return false;
        }else {
            $.ajax({
                type:"POST",
                url:"/cicsdeploy",
                data:{"branch":branch,"user":user,"cics_name":cics_name,"ENV":ENV},
                dataType:"JSON",
                beforeSend:function () {
                    $("$msg").text("");
                    var target = $("#msg").get(0);
                    spinner.spin(target);
                },
                success:function (data) {
                    return false;
                },
                error:function (e,jqxhr,settings,exception) {
                    $("#msg").text("请求发生错误，请刷新页面...");
                    spinner.spin();
                }
            });
        }
    }
</script>
{% end %}

{% block first %}
    <div id="cics" class="bg-info" style=float:left;width:85%;height:150px;border:1px #F00 solid;>
        <br />
        <label style="color: red;font:bold">您当前正在操作：CICS条带</label>&nbsp;<label>--------</label>&nbsp;<label>Select Your Code SVN Branch:</label>
        <label>
            <select name="svn_branch" class="selectpicker show-tick form-control" onclick="resetcicsname()" id="select">
                <option value="none">none</option>
                <option value="trunk">trunk</option>
                <option value="branch">branch</option>
            </select>
        </label>&nbsp;&nbsp;<label>--------------------</label>
        <label>Select bkapp name:</label>
        <label>
            <select class="selectpicker show-tick form-control" onclick="getcicsname()" id="cics_name"></select>
        </label>
        <br />
        <label>Select Your Code SVN Path:</label>
        <label>BUSINESS</label>&nbsp;/&nbsp;<label>
            <select class="selectpicker show-tick form-control" onclick="getsvnpath1()" id="svn_path1">
            </select></label>&nbsp;/&nbsp;<label>
            <select class="selectpicker show-tick form-control" onclick="getsvnpath2()" id="svn_path2">
            </select></label>&nbsp;/&nbsp;<label>
            <select class="selectpicker show-tick form-control" onclick="getsvnpath3()" id="svn_path3">
            </select></label>&nbsp;/&nbsp;<label>
            <select class="selectpicker show-tick form-control" onclick="getsvnpath4()" id="svn_path4">
            </select></label><br />
        <label>Select Deploy Environment:</label>
        <label>
            <select class="selectpicker show-tick form-control" id="ENV">
                <option value="none">none</option>
                <option value="XQNGCRM">XQNGCRM</option>
                <option value="XQNGESOP">XQNGESOP</option>
                <option value="XQGDCRM">XQGDCRM</option>
                <option value="JJNGCRM">JJNGCRM</option>
                <option value="JJNGESOP">JJNGESOP</option>
                <option value="JJGDCRM">JJGDCRM</option>
            </select>
        </label>
        <label><button onclick="Update()" id="Update" type="button" class="btn btn-success"><span class="glyphicon glyphicon-play-circle"></span>&nbsp;更新代码</button></label>
        <label><button onclick="Compiler()" id="Update" type="button" class="btn btn-success"><span class="glyphicon glyphicon-play-circle"></span>&nbsp;编译条带</button></label>
        <label><button onclick="Deploy()" id="Update" type="button" class="btn btn-success"><span class="glyphicon glyphicon-play-circle"></span>&nbsp;发布到目标环境</button></label>
        <label><button onclick="Start()" id="Update" type="button" class="btn btn-success"><span class="glyphicon glyphicon-play-circle"></span>&nbsp;启动CICS</button></label>
        <label><button onclick="Stop()" id="Update" type="button" class="btn btn-success"><span class="glyphicon glyphicon-play-circle"></span>&nbsp;停止CICS</button></label>
        <label><button onclick="Status()" id="Update" type="button" class="btn btn-success"><span class="glyphicon glyphicon-play-circle"></span>&nbsp;查看CICS状态</button></label>
    </div>
{% end %}

{% block second %}
    <div id="msg" style=filter:Alpha(Opacity=80,Style=0);opacity:0.80;background-color:black;color:#FFF;width:85%;height:630px;overflow:auto;border:1px #F00 solid;></div>
{% end %}